#main {
  width: 100%;
}

body {
  font-style: sans-serif;
}

ul {
  padding-left: 0;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /*flex-direction: row;*/
  /*align-items: space-around;*/
  /*justify-content: space-around;*/
}

li {
  /*flex-basis: 100%;*/
  border: 1px solid black;
  width: 19%;
  padding: 5% 0 5% 0;
  margin: .5%;
  text-align: center;
  background-color: beige;
  /*border-radius: 5px 5px 5px 5px;*/
  /*height: 20%;*/
  /*padding: 5% 10% 5% 10%;*/
  /*flex: 1;*/

  list-style-type: none;
  box-sizing: border-box;
}

span {
  /*background-color: white;*/
  width: 80%;
  text-align: center;
  padding: 5px 5px 5px 5px;
  /*border: 1px solid white;*/
  /*border-radius: 5px 5px 5px 5px;*/
  font-size: 20px;
}

li > span {
  /*font-size:calc(12px + 1.00vw);*/
  /*padding: 5% 10% 5% 10%;*/
}

.beige {
  /*background-color: rgb(221, 175, 152);*/
  border-color: rgb(221, 175, 152);
  background: radial-gradient(rgb(211, 207, 192), rgb(190, 178, 164));
  color: black;
}

.beige-visible {
  color: purple;
  font-weight: bold;
}

.black {
  /*background-color: black;*/
  background: radial-gradient(rgb(82, 82, 82), rgb(15, 15, 15));
  color: white;
}

.black-visible {
  color: black;
  font-weight: bold;
}

.blue {
  /*background-color: lightblue;*/
  /*border-color: lightblue;*/
  /*background-color: rgb(23, 81, 127);
  border-color: rgb(23, 81, 127);*/
  background: radial-gradient(rgb(118, 173, 219), rgb(23, 81, 127));
  color: white;
}

.BLUE-prompt {
  color: blue;
}

.blue-visible {
  /*background-color: beige;*/
  color: blue;
  font-weight: bold;
}

.board {
  max-width: 800px;
  max-height: 700px;
}

.buttons-div {
  margin-left: .5%;
  margin-right: .5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.buttons-div > button {
  height: 50px;
  background-color: purple;
  font-size: 18px;
  color: white;
  border-radius: 1px solid black;
  border-radius: 5px;
}

.card-span {
  font-size: 20px;
}

.form-create-lobby {

}

.game {
  margin: auto auto;
  max-width: 800px;
  max-height: 700px;
  width: 800px;
  height: 700px;
}

@media only screen and (max-width: 1035px) {
  .game {
    margin: auto auto;
    width: 80%;
    /*padding: 5% 0 5% 0;
    margin: .5%;*/
  }

  .game > div {
    text-align: center;
  }

  .card-span {
    font-size:calc(6.0275px + 1.35vw);
  }
}

.game > div {
  text-align: center;
}

.header {
  font-size: 48px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;
}

.hidden {
  color: transparent;
}

.homepage-div {
  /*max-width: 800px;*/
  margin: 0 auto;
}

.homepage-div > form {
  /*display: flex;*/
  /*color: red;*/
  /*justify-content: center;*/
  text-align: center;
}

.homepage-div > form > input {
  /*margin: auto;*/
}

.hompeage-div > form > button {
  /*margin: auto;*/
}

.homepage-div > h3 {
  text-align: center;
}

.homepage-div > p {
  text-align: center;
}

.new-word-input {
  height: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 40px;
  // width: 305px;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.prompt {
  font-size: 18px;
}

.random-room-p {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.red {
  /*background-color: red;
  border-color: red;*/
  /*background-color: rgb(226, 61, 21);
  border-color: rgb(226, 61, 21);*/
  background: radial-gradient(rgb(226, 61, 21), rgb(103, 20, 10));
  color: white;
}

.RED-prompt {
  color: red;
}

.red-visible {
  color: red;
  font-weight: bold;
}

/*@media only screen and (max-width: 800px) {
  li {
    width: 19%;
    padding: 5% 0 5% 0;
    margin: .5%;

  }
}*/
